# http://www.gnu.org/software/automake

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/depcomp
/missing

/config.log

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.dSYM
